body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-items: center;
	background-image: url('../images/logo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

  --primary: #fe77a4;
  --primary-opacity: #fe77a499;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.container {
  margin: auto;
  width: 80%;
	position: relative;

  --radius: 20px;
}

.container__backdrop {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: var(--primary-opacity);
  border-radius: var(--radius);
}

.container__backdrop > div {
	padding: 60px;
	color: white;
}

.button {
	padding: 10px 40px;
  border: medium solid transparent;
	background: transparent;
	cursor: pointer;
	outline: none;
	transition: color 300ms, background 300ms, border-color 300ms;
  font-size: 1em;
  font-weight: bold;
}

.button--block {
  width: 100%;
}

.button--outline-white {
  color: white;
  border-color: white;
}

.button--outline-white:hover {
	background: white;
	color: var(--primary);
}

.button--primary {
  background: var(--primary);
  color: white;
}

.button--primary:hover {
  background: white;
  color: var(--primary);
  border-color: var(--primary);
}

.button--margin {
  margin: 2em 0;
}

.forms {
	display: flex;
	align-items: center;
	max-width: 50%;
	position: relative;
  transform: translate(3%, -25vh);
	transition: transform 500ms cubic-bezier(.175, .885, .320, 1.275);
}

.forms__form {
	background: white;
	position: absolute;
	border-radius: var(--radius);
  padding: 1em;
  display: none;
  max-height: 90vh;
  overflow-y: auto;
}

.forms__form--active {
  display: block;
}

.forms__title {
	font-size: 2em;
	text-align: center;
	color: var(--primary);
}

.forms__input,
.forms__select {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border: none;
	background: #F2F2F2;
	font-size: 16px;
	outline: none;
  box-sizing: border-box;
}

.formulario__login {
	opacity: 1;
	display: block;
}

.formulario__register {
	display: none;
}

@media screen and (max-width: 850px) {
	main {
		margin-top: 50px;
	}

	.container__backdrop {
		max-width: 350px;
		height: 300px;
		flex-direction: column;
		margin: auto;
	}

	.container__backdrop div {
		margin: 0;
		position: absolute;
	}

	.forms__form {
		position: relative;
	}
}
